.b-mdFrame__box
    .b-mdFrame__prev
        a.js-prev(href="javascript:void(0)")
            +svg("arw-2")
    .b-mdFrame__main
        .b-mdFrame__main__title
            h3 Confirm your shipping address:
        .b-mdFrame__form
            .b-billing__info
                form(action="#")
                    .b-billing__info__row
                        input.inp.inp_bord-bm(type="text" placeholder="Real Text")
                    .b-billing__info__row
                        input.inp.inp_bord-bm(type="text" placeholder="Street")
                    .b-billing__info__row.rw-1
                        .b-billing__info__col
                            input.inp.inp_bord-bm(type="text" placeholder="City")
                        .b-billing__info__col
                            .select-bord
                                select.js-choice.js-choice_bord
                                    option(placeholder) State
                                    option(value="1") Delivered
                                    option(value="2") Need Attention
                                    option(value="3") Awaiting Action
                    .b-billing__info__row.rw-2
                        .b-billing__info__col
                            input.inp.inp_bord-bm(type="text" placeholder="ZIP")
                        .b-billing__info__col
                            .select-bord
                                select.js-choice.js-choice_bord
                                    option(placeholder) Country
                                    option(value="1") Delivered
                                    option(value="2") Need Attention
                                    option(value="3") Awaiting Action
                        .b-billing__info__col
                            input.inp.inp_bord-bm(type="text" placeholder="Phone")
    .b-mdFrame__btn
        a.btn.btn_sm(href="javascript:void(0)")
            | PROCEED
            +svg("arw-2")
