.b-mdFrame__box
    .b-mdFrame__main-nv
        .b-mdFrame__main-nv__title
            h3 Select a gift you like:
        .b-mdFrame__gifts-nv(data-simplebar)
            .b-products-nv
                .b-product
                    .b-product__info
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
    .b-mdFrame__prev-nv
        a.js-prev.js-one(href="javascript:void(0)")
            +svg("arw-prev")
