.b-mdFrame__box.is-visible
    .b-mdFrame-bx
        .b-mdFrame__info-nv
            .b-mdFrame__info-nv__image
                img(src="img/img-2.png" alt="")
            .b-mdFrame__info-nv__desc
                h3 New Year New Beginning to Kazakstan
                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .b-mdFrame__nav-nv
            .b-navRadio-nv
                ul
                    li
                        input#rd1(type="radio" name="rd")
                        label.js-next(for="rd1")
                            +svg("nav-7")
                            span CHANGE GIFT
                    li
                        input#rd2(type="radio" name="rd")
                        label.js-next(for="rd2")
                            +svg("nav-5")
                            span REDEEM GIFT
                    li
                        input#rd3(type="radio" name="rd" disabled="disabled")
                        label.js-next(for="rd3")
                            +svg("nav-8")
                            span DONATE
                                em coming soon
    .s-frame__info
        p Thanks but i`m not interested
