.b-mdFrame__box
    .b-mdFrame__prev
        a.js-prev(href="javascript:void(0)")
            +svg("arw-2")
    .b-mdFrame__main
        .b-mdFrame__main__title
            h3 Select a gift you like:
        .b-mdFrame__gifts(data-simplebar)
            .b-products
                .b-product
                    .b-product__info
                        .b-product__id ID: 002320
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                        .b-product__id ID: 002320
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                        .b-product__id ID: 002320
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                        .b-product__id ID: 002320
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                        .b-product__id ID: 002320
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
                .b-product
                    .b-product__info
                        .b-product__id ID: 002320
                    .b-product__image
                        a(href="#")
                            img(src="img/img-1.jpg" alt="")
                    .b-product__desc
                        h5
                            a(href="#") CALIFORNIA CABERNET GIFT BASKET
                        p
                            | Rock Falls Vineyards Sauvignon (750ml)
                            br
                            | Vino e Formaggio Smoked Spread (3.5oz)
                    .b-product__send
                        a.btn_send.js-next(href="javascript:void(0)") Choose this gift
