.b-mdFrame__box.is-visible
    .b-mdFrame__info
        .b-mdFrame__info__image
            img(src="img/img-2.png" alt="")
        .b-mdFrame__info__desc
            h3 New Year New Beginnings to Kazakhstan
            p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
    .b-mdFrame__nav
        .b-navRadio
            ul
                li
                    input#rd1(type="radio" name="rd")
                    label(for="rd1")
                        +svg("nav-4")
                        span CHANGE GIFT
                li
                    input#rd2(type="radio" name="rd")
                    label(for="rd2")
                        +svg("nav-5")
                        span REDEEM GIFT
                li
                    input#rd3(type="radio" name="rd" disabled="disabled")
                    label(for="rd3")
                        +svg("nav-6")
                        span DONATE
                            em coming soon
    .b-mdFrame__btn
        a.btn.btn_sm.js-next(href="javascript:void(0)")
            | PROCEED
            +svg("arw-2")
