.b-news
    .b-news__item
        .b-news__item__image
            a(href="#")
                img(src="img/new-1.jpg" alt="")
        .b-news__item__desc
            h5: a.link-black(href="#") Склад на Бабушкина теперь будет работать больше
            p
                | Изменился график работы нашего основного склада на Бабушкина.
                | Теперь мы работаем и по воскресеньям. Время работы с 10:00
                | до 15:00.
            .link-more: a.link-orange(href="#") Подробнее
    .b-news__item
        .b-news__item__image
            a(href="#")
                img(src="img/new-2.jpg" alt="")
        .b-news__item__desc
            h5: a.link-black(href="#") Склад на Бабушкина теперь будет работать больше
            p
                | Изменился график работы нашего основного склада на Бабушкина.
                | Теперь мы работаем и по воскресеньям. Время работы с 10:00
                | до 15:00.
            .link-more: a.link-orange(href="#") Подробнее
    .b-news__item
        .b-news__item__image
            a(href="#")
                img(src="img/new-1.jpg" alt="")
        .b-news__item__desc
            h5: a.link-black(href="#") Склад на Бабушкина теперь будет работать больше
            p
                | Изменился график работы нашего основного склада на Бабушкина.
                | Теперь мы работаем и по воскресеньям. Время работы с 10:00
                | до 15:00.
            .link-more: a.link-orange(href="#") Подробнее
    .b-news__item
        .b-news__item__image
            a(href="#")
                img(src="img/new-2.jpg" alt="")
        .b-news__item__desc
            h5: a.link-black(href="#") Склад на Бабушкина теперь будет работать больше
            p
                | Изменился график работы нашего основного склада на Бабушкина.
                | Теперь мы работаем и по воскресеньям. Время работы с 10:00
                | до 15:00.
            .link-more: a.link-orange(href="#") Подробнее
    .b-news__item
        .b-news__item__image
            a(href="#")
                img(src="img/new-1.jpg" alt="")
        .b-news__item__desc
            h5: a.link-black(href="#") Склад на Бабушкина теперь будет работать больше
            p
                | Изменился график работы нашего основного склада на Бабушкина.
                | Теперь мы работаем и по воскресеньям. Время работы с 10:00
                | до 15:00.
            .link-more: a.link-orange(href="#") Подробнее
    .b-news__item
        .b-news__item__image
            a(href="#")
                img(src="img/new-2.jpg" alt="")
        .b-news__item__desc
            h5: a.link-black(href="#") Склад на Бабушкина теперь будет работать больше
            p
                | Изменился график работы нашего основного склада на Бабушкина.
                | Теперь мы работаем и по воскресеньям. Время работы с 10:00
                | до 15:00.
            .link-more: a.link-orange(href="#") Подробнее