.b-vacancy__bar
    h3 Мы всегда рады<br> талантам
    p
        | Мы готовы рассмотреть предложению от любых
        | высококвалифицированных специалистов. Даже
        | если сейчас нету подходящей вам вакансии –
        | отправьте нам свое резюме и мы обязательно
        | с вами свяжемся.
    p: a.link-orange(href="mailto:rabota@safeteam.by") rabota@safeteam.by