.b-vacancy
    .b-vacancy__item
        .b-vacancy__title.js-btnShow
            h3 Кладовщик
            p от 1200 руб
            span: +svg("plus1")
        .b-vacancy__frame.boxHide
            .b-text
                p
                    | Мы готовы рассмотреть предложению от любых
                    | высококвалифицированных специалистов. Даже
                    | если сейчас нету подходящей вам вакансии –
                    | отправьте нам свое резюме и мы обязательно
                    | с вами свяжемся. Мы готовы рассмотреть
                    | предложению от любых высококвалифицированных
                    | специалистов. Даже если сейчас нету подходящей
                    | вам вакансии – отправьте нам свое резюме и мы
                    | обязательно с вами свяжемся.

                h4 Условия работы

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                h4 Требования к кандидату

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                a.btn.btn_sm(href="#")
                    span Отправить резюме
    .b-vacancy__item
        .b-vacancy__title.js-btnShow
            h3 Водитель-экспедитор
            p от 1200 руб
            span: +svg("plus1")
        .b-vacancy__frame
            .b-text
                p
                    | Мы готовы рассмотреть предложению от любых
                    | высококвалифицированных специалистов. Даже
                    | если сейчас нету подходящей вам вакансии –
                    | отправьте нам свое резюме и мы обязательно
                    | с вами свяжемся. Мы готовы рассмотреть
                    | предложению от любых высококвалифицированных
                    | специалистов. Даже если сейчас нету подходящей
                    | вам вакансии – отправьте нам свое резюме и мы
                    | обязательно с вами свяжемся.

                h4 Условия работы

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                h4 Требования к кандидату

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                a.btn.btn_sm(href="#")
                    span Отправить резюме
    .b-vacancy__item
        .b-vacancy__title.js-btnShow
            h3 Специлист по мануальной терапии
            p от 1200 руб
            span: +svg("plus1")
        .b-vacancy__frame
            .b-text
                p
                    | Мы готовы рассмотреть предложению от любых
                    | высококвалифицированных специалистов. Даже
                    | если сейчас нету подходящей вам вакансии –
                    | отправьте нам свое резюме и мы обязательно
                    | с вами свяжемся. Мы готовы рассмотреть
                    | предложению от любых высококвалифицированных
                    | специалистов. Даже если сейчас нету подходящей
                    | вам вакансии – отправьте нам свое резюме и мы
                    | обязательно с вами свяжемся.

                h4 Условия работы

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                h4 Требования к кандидату

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                a.btn.btn_sm(href="#")
                    span Отправить резюме
    .b-vacancy__item
        .b-vacancy__title.js-btnShow
            h3 Регулировщик пластиковых окон
            p от 1200 руб
            span: +svg("plus1")
        .b-vacancy__frame
            .b-text
                p
                    | Мы готовы рассмотреть предложению от любых
                    | высококвалифицированных специалистов. Даже
                    | если сейчас нету подходящей вам вакансии –
                    | отправьте нам свое резюме и мы обязательно
                    | с вами свяжемся. Мы готовы рассмотреть
                    | предложению от любых высококвалифицированных
                    | специалистов. Даже если сейчас нету подходящей
                    | вам вакансии – отправьте нам свое резюме и мы
                    | обязательно с вами свяжемся.

                h4 Условия работы

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                h4 Требования к кандидату

                ul
                    li декларант или таможенный брокер
                    li перевозчик;
                    li таможенный перевозчик;

                a.btn.btn_sm(href="#")
                    span Отправить резюме
