#modal-4.modal.modal-giftDesing.micromodal-slide(aria-hidden="true")
    .modal__overlay(tabindex="-1" data-micromodal-close)
        .modal__container.modal__container--xl(role="dialog" aria-modal="true")
            header.modal__title
                h3 Gift invitation E-mail Design
            main.modal__content
                form.form-giftDesign(action="#")
                    .form-giftDesign__row
                        .form-giftDesign__col
                            .from-line
                                label.label Subject
                                input.inp.inp_bord(type="text")
                            .from-line
                                label.label
                                    a.link-blue(href="#") Select from message templates
                                textarea.area.area_block.area_h294.inp_bord
                        .form-giftDesign__col
                            .from-line
                                .from-line-title
                                    label.label Preview:
                                    a.link-blue(href="#") Upload logo
                                textarea.area.area_block.area_h370.inp_bord
                    .form-giftDesign__btn
                        button.btn.btn_bl.btn_w170 Save
