#modal-3.modal.micromodal-slide(aria-hidden="true")
    .modal__overlay(tabindex="-1" data-micromodal-close)
        .modal__container.modal__container--xl(role="dialog" aria-modal="true")
            header.modal__title
                h3 New Contact
            main.modal__content
                form(action="#")
                    .form-row--2
                        .col
                            .form-line.form-line--norm
                                label First Name
                                input.inp.inp_bord(type="text" placeholder="Text")
                        .col
                            .form-line.form-line--norm
                                label.has-text-right Last Name
                                input.inp.inp_bord(type="text" placeholder="Text")
                    .form-row--2
                        .col
                            .form-line.form-line--norm
                                label Company
                                input.inp.inp_bord(type="text" placeholder="Text")
                        .col
                            .form-line.form-line--norm
                                label.has-text-right Country
                                .form-select.form-select--bord
                                    select.js-choice
                                        option(value="1") Country
                                        option(value="2") Country
                    .form-line.form-line--norm
                        label Address 1
                        input.inp.inp_bord(type="text" placeholder="Text")
                    .form-line.form-line--norm
                        label Address 2
                        input.inp.inp_bord(type="text" placeholder="Text")
                    .form-row--flex
                        .column-item
                            label City
                        .column-item
                            input.inp.inp_bord(type="text" placeholder="Text")
                        .column-item
                            label ZIP
                        .column-item.w200
                            input.inp.inp_bord(type="text" placeholder="Text")
                    .form-row--flex
                        .column-item
                            label Email
                        .column-item
                            input.inp.inp_bord(type="text" placeholder="Text")
                        .column-item
                            label Phone
                        .column-item.w250
                            input.inp.inp_bord(type="text" placeholder="Text")
                    .form-line.form-line--norm
                        label Tags
                        input.inp.inp_bord(type="text" placeholder="Text")
                    .form-line.form-line--norm
                        label Source
                        .form-text Salesforce
                    .form-btn
                        button.btn.btn_blue Save
