footer.s-footer
    .container
        .copyr Copyright 2020 | Privacy
        .social
            ul
                li
                    a(href="#")
                        +svg("soc-fb")
                li
                    a(href="#")
                        +svg("soc-in")
                li
                    a(href="#")
                        +svg("soc-pn")
                li
                    a(href="#")
                        +svg("soc-tm")
                li
                    a(href="#")
                        +svg("soc-ins")
                li
                    a(href="#")
                        +svg("soc-yt")
        .terms
            a(href="#") Terms of Service
