include mixins/mixins
include var

doctype html
html(lang="en")
    block head
        head
            meta(charset="utf-8")
            title GiftSenda
            link( href="img/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon")
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.min.css")
    body
        .wrap.wrap_frame_new
            block content
            block footer
                include footer
        block scripts
            script(src='js/main.min.js')
