.b-design__select
    .b-design__select__ind
        span Individual Messages
        .form-check-2
            input#ch23.js-indMess(type="checkbox")
            label(for="ch23")
    .b-design__select__drop
        v-select(class="style-bord" placeholder="Сountry" :options="options")
    .b-design__select__message
        .b-design__select__message__title Select form message templates
        .b-design__select__message__frame
            .editor
                p Hello World!
        .b-design__select__swiper
            .b-design__select__swiper__title Background
            .swiper
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .swiper-slide__item Slide 1
                        .swiper-slide
                            .swiper-slide__item Slide 2
                        .swiper-slide
                            .swiper-slide__item Slide 3
                        .swiper-slide
                            .swiper-slide__item Slide 4
                        .swiper-slide
                            .swiper-slide__item Slide 5
                        .swiper-slide
                            .swiper-slide__item Slide 6
                        .swiper-slide
                            .swiper-slide__item Slide 7
                    .swiper-button.swiper-button-prev
                        +svg("swiper-button-prev")
                    .swiper-button.swiper-button-next
                        +svg("swiper-button-next")
            .b-design__select__swiper
                .b-design__select__swiper__title Logo
                .swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-slide__item Slide 1
                            .swiper-slide
                                .swiper-slide__item Slide 2
                            .swiper-slide
                                .swiper-slide__item Slide 3
                            .swiper-slide
                                .swiper-slide__item Slide 4
                            .swiper-slide
                                .swiper-slide__item Slide 5
                            .swiper-slide
                                .swiper-slide__item Slide 6
                            .swiper-slide
                                .swiper-slide__item Slide 7
                        .swiper-button.swiper-button-prev
                            +svg("swiper-button-prev")
                        .swiper-button.swiper-button-next
                            +svg("swiper-button-next")
