.b-catalogCard-small
    .b-catalogCard-small__item
        a.b-catalogCard-small__link(href="#")
            img(src="img/catalogItem-1.jpg" alt="")
            .b-catalogCard-small__desc
                h4 Спецодежда
                p 2 253 моделей
    .b-catalogCard-small__item
        a.b-catalogCard-small__link(href="#")
            img(src="img/catalogItem-2.jpg" alt="")
            .b-catalogCard-small__desc
                h4 Спецобувь
                p 2 253 моделей
    .b-catalogCard-small__item
        a.b-catalogCard-small__link(href="#")
            img(src="img/catalogItem-3.jpg" alt="")
            .b-catalogCard-small__desc
                h4 Средства защиты
                p 2 253 моделей