.b-catalogCard-large
    .b-catalogCard-large__item
        img(src="img/catalogItem-4.jpg" alt="")
        .b-catalogCard-large__title
            h4 новинки
            a.btn(href="#"): span Подробнее

    .b-catalogCard-large__item
        img(src="img/catalogItem-5.jpg" alt="")
        .b-catalogCard-large__title
            h4 Распродажа
            a.btn(href="#"): span Подробнее
