section.b-slider
    .owl-carousel.b-slider__carousel
        .b-slider__item
            .b-slider__item__image
                span(style="background-image: url(img/slide-1.jpg)")
            .b-slider__item__desc
                .container
                    h2 Все костюмы<br> со скидкой 30%
                    p На всю продукцию утеплённых костюмов
                    div: a.btn(href="#"): span Подробнее
        .b-slider__item
            .b-slider__item__image
                span(style="background-image: url(img/slide-1.jpg)")
            .b-slider__item__desc
                .container
                    h2 Все костюмы<br> со скидкой 30%
                    p На всю продукцию утеплённых костюмов
                    div: a.btn(href="#"): span Подробнее