.b-productDetail__desc
    .bl-box.bl-options
        h4 Характеристики
            span.arw
                +svg("arw-1")
        .bl-box__hide
            .table.table-option
                table
                    tr
                        td ГОСТ
                        td 12.4.280-2014
                    tr
                        td ТР ТС
                        td 019/2011
                    tr
                        td Застёжка
                        td по бокам, на пуговицах
                    tr
                        td Карманы
                        td нагрудный с клапаном, накладные боковые полуобъемные
                    tr
                        td Усилитель накладки
                        td наколенники со входом для амортизационных вкладышей, на карманах в местах наибольшего истирания
                    tr
                        td Защитные свойства
                        td
                            .el-icon
                                .el-icon__item
                                    +svg("prop-1")
                                .el-icon__item
                                    +svg("prop-15")
                                .el-icon__item
                                    +svg("prop-3")
                                .el-icon__item
                                    +svg("prop-4")
                    tr
                        td Карточка товара в PDF
                        td
                            a.btn_tablet.link-orange(href="#")
                                span Скачать
    .bl-box.bl-desc
        h4 Описание
            span.arw
                +svg("arw-1")
        .bl-box__hide
            .bl-desc__frame
                p
                    | На любом предприятии безопасность сотрудников —
                    | это главное условие труда, которому стоит уделить особое внимание.
                    | К вопросу защиты органов дыхания на промышленных предприятиях
                    | добросовестные работодатели подходят комплексно: устанавливают
                    | системы очистки и вентилирования воздуха и обеспечивают наличие
                    | индивидуальных средств защиты.
                p
                    | Выбирая СОЗИД, обратите внимание в первую очередь на плотность
                    | прилегания маски к лицу. Отсутствие зазоров повысит эффективность
                    | действия СИЗОД. Учитывайте специфику назначения, ведь противоболевые
                    | СИЗОД беспомощны против загрязнения воздуха едкими газами. Выбирая
                    | средства защиты между изолирующими и фильтрующими учитывайте степень
                    | загрязнения воздуха: изолирующие эффектнее в условиях высокой концентрации
                    | загрязняющего вещества.