.b-productDetail__image
	.b-productDetail__image__large
		img(src="img/prod-lg-1.jpg" alt="")
	.b-productDetail__image__small
		a.img-item.is-active(href="javascript:void(0)" data-src="img/prod-lg-1.jpg")
			img(src="img/prod-sm-1.jpg" alt="")
		a.img-item(href="javascript:void(0)" data-src="img/prod-lg-2.jpg")
			img(src="img/prod-sm-1.jpg" alt="")
		a.img-item(href="javascript:void(0)" data-src="img/prod-lg-3.jpg")
			img(src="img/prod-sm-1.jpg" alt="")
