.b-productDetail__image
    .productImage
        .productImage__item
            a(href="#")
                img(src="img/product-1-lg.jpg" alt="")
        .productImage__item
            a(href="#")
                img(src="img/product-1-lg.jpg" alt="")
        .productImage__item
            a(href="#")
                img(src="img/product-1-lg.jpg" alt="")
        .productImage__item
            a(href="#")
                img(src="img/product-1-lg.jpg" alt="")
        .productImage__item
            a(href="#")
                img(src="img/product-1-lg.jpg" alt="")

    .productImageThumb
        .productImageThumb__item
            img(src="img/product-0-tm.jpg" alt="")
        .productImageThumb__item
            img(src="img/product-1-tm.jpg" alt="")
        .productImageThumb__item
            img(src="img/product-2-tm.jpg" alt="")
        .productImageThumb__item
            img(src="img/product-3-tm.jpg" alt="")
        .productImageThumb__item
            img(src="img/product-4-tm.jpg" alt="")
    .el-status
        .el-status__item.el-status__item_new
            span NEW
        .el-status__item.el-status__item_hit
            span ХИТ