.b-productDetail__info
	h2 CALIFORNIA CABERNET GIFT BASKET
	.b-productDetail__info__review
		div
			ul.el-stars
				li: +svg("star-1")
				li: +svg("star-1")
				li: +svg("star-1")
				li: +svg("star-1")
				li: +svg("star-1")
			span 4.7
		div ID: 002320
	.b-productDetail__info__price $89.32
	.b-productDetail__info__descSmall
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
	.b-productDetail__info__order
		.el-qua
			.el-qua__btn(data-type="minus") -
			input.el-qua__inp(type="text" value="1")
			.el-qua__btn(data-type="plus") +
		.el-send
			a.btn.btn_blue(href="#") Send now
	.b-productDetail__info__recommend
		+svg("rec")
		span
			| I recommend
			a.link-blue(href="#") 20 people
	.b-productDetail__info__descLarge
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		p The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack. The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.The people that matter to your company deserve the best. All of our favorite items bundled together make this the ultimate swag pack.
		h4 Pack includes:
		ul
			li USA Made Soft Tee
			li Silicone Valley Hoodie Unisex
			li Classic Dad Hat
			li H2Go Silo
			li SwagUp Soft Touch Journal
			li Minimalist Soft Touch Pen
			li Die Cut Stickers - 6 square inches
			li Insert Cards by Moo - 5" x 7"
			li Custom Mailer Box
