.b-productDetail__offer
    form
        .bl-optionList
            .bl-optionList__item
                .bl-optionList__label Цвет
                .bl-optionList__value._color(style="background: #9EB87D; box-shadow: 0px 4px 4px rgba(158, 184, 125, 0.3)") Оливковый
            .bl-optionList__item
                .bl-optionList__label Размер
                .bl-optionList__value 42-44
            .bl-optionList__item
                .bl-optionList__label Рост
                .bl-optionList__value 150
        .bl-descSmall
            p
                | На любом предприятии безопасность сотрудников —
                | это главное условие труда, которому стоит уделить
                | особое внимание. К вопросу защиты органов дыхания
                | на промышленных предприятиях добросовестные работодатели
                | подходят комплексно: устанавливают системы очистки и
                | вентилирования воздуха и обеспечивают наличие индивидуальных
                | средств защиты.
        .bl-price
            strong 634 РУБ
        .bl-btn
            div
                button.btn.btn_sm
                    span Добавить в корзину
            div
                a.el_favourites(href="#")
                    +svg("icon-favourites")