.b-productDetail__offer
    form
        .bl-color
            .bl-color__label
                p.lab Расцветки
                p.sel Оливковый
            .bl-color__list
                ul.el-color
                    li.el-color__item
                        input(type="radio" name="color" id="color1")
                        label._black(for="color1")
                    li.el-color__item
                        input(type="radio" name="color" id="color2")
                        label._orange(for="color2")
                    li.el-color__item
                        input(type="radio" name="color" id="color3")
                        label._greenLight(for="color3")
                    li.el-color__item
                        input(type="radio" name="color" id="color4")
                        label._green(for="color4")
                    li.el-color__item
                        input(type="radio" name="color" id="color5")
                        label._brownish(for="color5")
                    li.el-color__item
                        input(type="radio" name="color" id="color6")
                        label._blue(for="color6")
                    li.el-color__item
                        input(type="radio" name="color" id="color7")
                        label._operatic(for="color7")
        .bl-option
            .bl-option__item
                label Размер
                select.js-select(data-placeholder="Выберите размер")
                    option
                    option 3XL
                    option 4XL
                    option 5XL

            .bl-option__item
                label Рост
                select.js-select(data-placeholder="Выберите рост")
                    option
                    option 120
                    option 130
                    option 140
        .bl-price
            strong 634 РУБ
            span 734 РУБ
        .bl-btn
            div
                button.btn.btn_sm
                    span Добавить в корзину
            div
                a.el_favourites(href="#")
                    +svg("icon-favourites")