.b-productDetail__reviews.tabby
	.b-productDetail__reviews__tab
		.b-productDetail__reviews__tab__item.tab.is-selected(data-theme="tab1") Reviews
		.b-productDetail__reviews__tab__item.tab(data-theme="tab2") Statistics

	.b-productDetail__reviews__box.tab-content.is-selected(data-theme="tab1")
		.b-productDetail__reviews__list
			.b-productDetail__reviews__list__item
				h4 Victoriy
					span 10/02/20
				ul.el-stars
					li: +svg("star-1")
					li: +svg("star-1")
					li: +svg("star-1")
					li: +svg("star-1")
					li: +svg("star-1")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.b-productDetail__reviews__list__item
				h4 Victoriy
					span 10/02/20
				ul.el-stars
					li: +svg("star-1")
					li: +svg("star-1")
					li: +svg("star-1")
					li: +svg("star-1")
					li: +svg("star-1")
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.b-productDetail__reviews__send
			textarea
			ul.el-stars
				li: +svg("star-1")
				li: +svg("star-1")
				li: +svg("star-1")
				li: +svg("star-1")
				li: +svg("star-1")
			a.btn.btn_blue(href="#") To send
	.b-productDetail__reviews__box.tab-content(data-theme="tab2")
		.b-text
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			h4 Sent month:   15 times
