.b-productDetail__video
    .bl-box.bl-video
        h4 Видео
            span.arw
                +svg("arw-1")
        .bl-box__hide
            .bl-video__frame
                img(src="img/video.jpg" alt="")
                a.btn_play(href="javascript:void(0)")
                    +svg("play")