mixin breadcrumbs(items, last)
    .b-breadcrumb
        ul.b-breadcrumb__list&attributes(attributes)
            each item in items
                li.b-breadcrumb__item
                    if (items.length === 1)
                        span.b-breadcrumb__link= item
                    else
                        a(href="#" title=item).b-breadcrumb__link= item
                    +svg("separator")

            if last
                li.b-breadcrumb__item
                    span.b-breadcrumb__link-current= last
            else