@import "../../local_modules/normalize.css/normalize";
@import "../../../node_modules/simplebar/dist/simplebar.min";
@import "../mixins/media";
@import "../utils/utils";
@import "section";
@import "blocks";

@lost flexbox flex;

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: $fontRoboto;
    font-size: 12px;
    line-height: 1.166;
    font-weight: 400;
    background: #F2F1EF;
    color: $cl-black;
    min-width: 1100px;

    &.menu-open {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all $time ease;
}

.wrap {

}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: block;
}

strong {
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 100%;
    transition: all $time ease;
    font-size: 40px;
    margin: 0 0 30px 0;
    color: $cl-blue-dark;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    margin: 0;
}

h2,
h4 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 1.5px;
    padding-top: 10px;
    margin-bottom: 15px;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
    margin: 0 0 40px 0;
    @include media-tablet {
        margin-bottom: 20px;
    }
}

ul {
    li {
        list-style: none;
    }
}
