.s-header {
    background: $cl-white;

    .container {
        display: flex;
        align-items: center;
        position: relative;
    }

    .logo {
        flex-grow: 1;
        display: flex;
        a {
            img {
                display: block;
                @include media-tablet {
                    width: 110px;
                }
            }
        }
    }

    .user {
        background: rgba(0, 102, 153, 0.05);
        height: 65px;
        display: flex;
        align-items: center;
        padding: 0 22px 0 21px;

        @include media-tablet {
            align-items: flex-start;
            padding-top: 5px;
        }

        &__image {
            margin-right: 12px;
            a {
                width: 38px;
                height: 38px;
                overflow: hidden;
                border-radius: 50%;
                display: block;
            }
            img {
                width: 38px;
                height: 38px;
                display: block;
            }
        }
        &__info {
            &__name {
                font-size: 14px;
                font-weight: normal;
                line-height: 1;
                a {
                    color: #006699;
                    display: flex;
                    align-items: center;
                }
            }
            &__status {
                font-size: 9px;
                text-decoration: underline;
                color: $cl-black;
                margin-bottom: 5px;
            }
            &__reit {
                display: flex;
                align-items: center;
                font-weight: normal;
                font-size: 9px;
                color: $cl-black;
                svg {
                    width: 8px;
                    height: 8px;
                    margin-right: 3px;
                }
            }
        }
    }

    .balance {
        margin-right: 32px;

        @include media-tablet {
            position: absolute;
            right: 0;
            bottom: 5px;
            margin-right: 35px;
        }
        a {
            font-weight: normal;
            font-size: 14px;
            color: #005577;
            border-bottom: 1px solid rgba(0,85,119,.7);

            @include media-tablet {
                font-size: 13px;
            }

            &:hover {
                border-bottom: 1px solid rgba(0,85,119,0);
            }
        }
    }

    &-frame {
        .b-mdFrame__logo {
            justify-content: center;
            padding: 20px;
        }
    }
}
