extends common/layout

block content
    main.s-main
        .container
            .b-title
                h1 Branding
            .b-hr
            .b-branding
                h2 Logos
                .b-branding__list
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.jpg)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__add
                            a(href="#")
                                +svg("add")
            .b-branding.b-branding_lg
                h2 Greeting Cards
                .b-branding__list
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.jpg)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__title
                            | logo_transparent.png
                            br
                            | 480 Kb, uploaded 11/12/2021
                        .b-branding__item__image
                            span(style="background-image: url(img/img-3.png)")
                        .b-branding__item__remove
                            a(href="#")
                                +svg("remove")
                    .b-branding__item
                        .b-branding__item__add
                            a(href="#")
                                +svg("add")
