extends common/layout

block content
    main.s-main
        .container
            .b-title
                h1 Bulk Senda №32323
                a.btn.btn_new(href="#")
                    +svg("plus")
                    | new senda
            .b-sep Bulk Senda №32323
            .b-content
                .b-barTopSn
                    .b-barTopSn__left
                        .b-search
                            input.inp(type="text" placeholder="Search by recipient, company, campaign")
                            .b-search__icon
                                +svg("search").b-search__icon__search
                                +svg("close").b-search__icon__close
                    .b-barTopSn__right
                        .b-barTopSn__download
                            a(href="#") Download Invoice
                        .b-barTopSn__total Total Sendas  234
                        .b-barTopSn__deliver
                            .b-barTopSn__deliver__title Delivered 154
                            .b-barTopSn__deliver__bar
                                span(style="width: 50%")
                .b-table.b-table_tb3
                    .b-table__box
                        .table-th
                            table
                                tr
                                    th
                                        .sorting
                                            span No
                                            span.el-sort
                                                a.up(href="#")
                                                a.dw(href="#")
                                    th Recipient
                                    th Gift
                                    th
                                        .sorting
                                            span Cost
                                            span.el-sort
                                                a.up(href="#")
                                                a.dw(href="#")
                                    th
                                        .sorting
                                            span Delivery By
                                            span.el-sort
                                                a.up(href="#")
                                                a.dw(href="#")
                                    th
                                        .sorting
                                            span Status
                                            span.el-sort
                                                a.up(href="#")
                                                a.dw(href="#")
                                    th Greeting Card
                        .table-td(data-simplebar)
                            table
                                tr
                                    td
                                        a(href="#") INV - 1001
                                        br
                                        | 05/10/2019
                                    td
                                        | Ivanov Andrei Kirillovish
                                        br
                                        | Russia
                                    td
                                        .gift-date
                                            div
                                                | Chocolate Basket
                                                br
                                                | ID: 3435454
                                            div
                                                img(src="img/img-1.jpg" alt="")
                                    td $100,000
                                    td 22/03/2020
                                    td
                                        span.el-status.el-status_green Delivered
                                    td
                                        a.link-blue(href="#") View Greeting Card
                                tr
                                    td
                                        a(href="#") INV - 1001
                                        br
                                        | 05/10/2019
                                    td
                                        | Ivanov Andrei Kirillovish
                                        br
                                        | Russia
                                    td
                                        .gift-date
                                            div
                                                | Chocolate Basket
                                                br
                                                | ID: 3435454
                                            div
                                                img(src="img/img-1.jpg" alt="")
                                    td $100,000
                                    td 22/03/2020
                                    td
                                        span.el-status.el-status_green Delivered
                                    td
                                        a.link-blue(href="#") View Greeting Card
                                tr
                                    td
                                        a(href="#") INV - 1001
                                        br
                                        | 05/10/2019
                                    td
                                        | Ivanov Andrei Kirillovish
                                        br
                                        | Russia
                                    td
                                        .gift-date
                                            div
                                                | Chocolate Basket
                                                br
                                                | ID: 3435454
                                            div
                                                img(src="img/img-1.jpg" alt="")
                                    td $100,000
                                    td 22/03/2020
                                    td
                                        span.el-status.el-status_green Delivered
                                    td
                                        a.link-blue(href="#") View Greeting Card
                                tr
                                    td
                                        a(href="#") INV - 1001
                                        br
                                        | 05/10/2019
                                    td
                                        | Ivanov Andrei Kirillovish
                                        br
                                        | Russia
                                    td
                                        .gift-date
                                            div
                                                | Chocolate Basket
                                                br
                                                | ID: 3435454
                                            div
                                                img(src="img/img-1.jpg" alt="")
                                    td $100,000
                                    td 22/03/2020
                                    td
                                        span.el-status.el-status_green Delivered
                                    td
                                        a.link-blue(href="#") View Greeting Card
                                tr
                                    td
                                        a(href="#") INV - 1001
                                        br
                                        | 05/10/2019
                                    td
                                        | Ivanov Andrei Kirillovish
                                        br
                                        | Russia
                                    td
                                        .gift-date
                                            div
                                                | Chocolate Basket
                                                br
                                                | ID: 3435454
                                            div
                                                img(src="img/img-1.jpg" alt="")
                                    td $100,000
                                    td 22/03/2020
                                    td
                                        span.el-status.el-status_green Delivered
                                    td
                                        a.link-blue(href="#") View Greeting Card
                                tr
                                    td
                                        a(href="#") INV - 1001
                                        br
                                        | 05/10/2019
                                    td
                                        | Ivanov Andrei Kirillovish
                                        br
                                        | Russia
                                    td
                                        .gift-date
                                            div
                                                | Chocolate Basket
                                                br
                                                | ID: 3435454
                                            div
                                                img(src="img/img-1.jpg" alt="")
                                    td $100,000
                                    td 22/03/2020
                                    td
                                        span.el-status.el-status_green Delivered
                                    td
                                        a.link-blue(href="#") View Greeting Card
