extends common/layout

block content
    main.s-main
        .container
            .b-title
                h1 Dashboard
                a.btn.btn_new(href="#")
                    +svg("plus")
                    | new senda
            .b-sep Dashboard
            .b-page
                .b-page__frame
                    .b-dashboard
                        .b-dashboard__item.is-blue
                            a(href="javascript:void(0)")
                                span Delivering
                                img(src="img/dash-1.svg" alt="")
                                strong 236
                        .b-dashboard__item.is-green
                            a(href="javascript:void(0)")
                                span Delivered
                                img(src="img/dash-2.svg" alt="")
                                strong 236
                        .b-dashboard__item.is-red
                            a(href="javascript:void(0)")
                                span Need Attention
                                img(src="img/dash-3.svg" alt="")
                                strong 236
                        .b-dashboard__item.is-orange
                            a(href="javascript:void(0)")
                                span Аwaiting action
                                img(src="img/dash-4.svg" alt="")
                                strong 236
                    .b-frame

                .b-page__aside
                    .b-list(data-simplebar)
                        .b-list__item
                            .b-list__item__icon
                                +svg("delivery")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") NY Partner Gifitng Campaign sendas were delivered succesfully
                        .b-list__item
                            .b-list__item__icon
                                +svg("warning")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") Senda was sucsefully delivered to John
                        .b-list__item
                            .b-list__item__icon
                                +svg("ok")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") Cannot reach the Recepient pls confirim phone NO
                        .b-list__item
                            .b-list__item__icon
                                +svg("delivery")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") NY Partner Gifitng Campaign sendas were delivered succesfully
                        .b-list__item
                            .b-list__item__icon
                                +svg("warning")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") Senda was sucsefully delivered to John
                        .b-list__item
                            .b-list__item__icon
                                +svg("ok")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") Cannot reach the Recepient pls confirim phone NO
                        .b-list__item
                            .b-list__item__icon
                                +svg("delivery")
                            .b-list__item__date
                                span 1758404858
                                span Oct 20, 2020
                            .b-list__item__title
                                a(href="#") NY Partner Gifitng Campaign sendas were delivered succesfully