extends common/layout-frame-new

block content
    header.s-header-frame
        .b-mdFrame__logo
            a(href="#")
                span powered by
                img(src="img/logo.svg" alt="")
    main.s-frame-md
        .b-textBlock
            .b-textBlock__title
                h4 For Ivan Ivanov, Coca-Cola
                +svg("arw-down")
            .b-textBlock__frame
                .b-textBlock__image
                    img(src="img/img-6.png" alt="")
                .b-textBlock__desc
                    h4 For Ivan Ivanov, Coca-Cola
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                    p.author Eric Braun
        .s-frame__body-nv
            .b-mdFrame
                include includes/frame/box-1-new
                include includes/frame/box-2-new
                include includes/frame/box-3-new
