extends common/layout

block content
    main.s-main
        .container
            .b-title
                h1 New Bulk Senda
            .b-step
                .b-step__item.is-active
                    .b-step__item__num
                        strong 1
                        span Step
                    .b-step__item__label Recipients
                .b-step__item.is-active
                    .b-step__item__num
                        strong 2
                        span Step
                    .b-step__item__label Choose Gifts
                .b-step__item.is-active
                    .b-step__item__num
                        strong 3
                        span Step
                    .b-step__item__label Messages
                .b-step__item
                    .b-step__item__num
                        strong 4
                        span Step
                    .b-step__item__label Review
            .b-sendEmail
                .form-check-2
                    input#ch22(type="checkbox")
                    label(for="ch22")
                span Send E-mail Gift Invtitations first
                a.link-blue(href="#") Design
            .b-title_bl
                h2 Design your Greeting Card
            .b-design
            .b-btnBar
                a.btn.btn_bl.btn_lg.btn_prev(href="#")
                    +svg("arw-btn-prev")
                    | GIFTS
                a.btn.btn_bl.btn_lg.btn_next(href="#")
                    | REVIEW
                    +svg("arw-btn-next")

