.btn {
    height: 44px;
    padding: 0 26px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $cl-white;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all $time ease;
    background: $cl-blue;
    border-radius: 5px;

    @include media-tablet {
        height: 40px;
    }

    &:hover {
        background: #0E99CF;
        color: $cl-white;
    }

    &:active {

    }

    &_new {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
        min-width: 125px;
        @include media-tablet {
            font-size: 12px;
            padding: 0 15px;
        }
        svg {
            width: 20px;
            height: 20px;
            margin-right: 7px;
        }
        &:active {
            background: #0E99CF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &_sm {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
        font-weight: bold;

        @include media-tablet {
            font-size: 12px;
            padding: 0 15px;
        }

        svg {
            width: 20px;
            height: 20px;
            margin-left: 7px;
            margin-right: 7px;
            fill: #ffffff;
        }

        &:active {
            background: #0E99CF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &_send {
        height: 30px;
        border-bottom: 2px solid #0B587E;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
        color: #FFFFFF;
        background: #006699;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;

        &:hover {
            color: #FFFFFF;
            background: #0B587E;
        }

        &:active {
            color: #FFFFFF;
            background: #0B587E;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        @include media-tablet {
            max-width: 164px;
            margin: 0 auto;
        }
    }

    &_more {
        background: #0B587E;
        max-width: 532px;
        display: flex;
        margin: 0 auto;
        height: 31px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
            color: #FFFFFF;
            background: #0B587E;
        }

        &:active {
            color: #FFFFFF;
            background: #0B587E;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    &_blue {
        height: 30px;
        border-bottom: 2px solid #0B587E;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
        color: #FFFFFF;
        background: #006699;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
        padding-top: 2px;
        min-width: 173px;

        &:hover {
            color: #FFFFFF;
            background: #0B587E;
        }

        &:active {
            color: #FFFFFF;
            background: #0B587E;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        @include media-tablet {
            max-width: 164px;
            margin: 0 auto;
        }
    }

    &_bl {
        background: #00B7FF;
        border-top: 2px solid #00B7FF;
        border-bottom: 2px solid #059FDB;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);

        &:hover {
            background: #0E99CF;
            border-top: 2px solid #0E99CF;
            border-bottom: 2px solid #1487B4;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
        }

        &:active {
            background: #1487B4;
            border-top: 2px solid #1487B4;
            border-bottom: 2px solid #1487B4;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &_w170 {
        min-width: 170px;
        justify-content: center;
    }

    &_lg {
        height: 56px;
        font-weight: normal;
        font-size: 15px;
        min-width: 173px;
        justify-content: center;
        text-transform: none;

        @include media-tablet {
            min-width: initial;
            height: 40px;
            font-size: 14px;
            padding: 0 15px;
        }
    }

    &_prev {
        svg {
            width: 25px;
            height: 10px;
            margin-right: 10px;
            fill: none;
        }
    }

    &_next {
        svg {
            width: 25px;
            height: 10px;
            margin-left: 10px;
            fill: none;
        }
    }

    &_paypal {
        background: #FFFFFF;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: block;
        justify-content: center;
        height: 90px;
        padding: 0 15px;
        transition: all $time ease;
        border: 1px solid #ffffff;

        @include media-tablet {
            height: 50px;
        }

        img {
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
        &:hover {
            border: 1px solid #006699;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        }
        &:active {
            box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #ffffff;
        }
    }

    &_dis {
        background: #E4E4E4 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    &_block {
        width: 100%;
        justify-content: center;
    }

    &_nav {
        border: 1px solid rgba(112,112,112,1);
        box-sizing: border-box;
        border-radius: 5px;
        height: 56px;
        min-width: 173px;
        padding: 0;
        background: none;
        justify-content: center;

        svg {
            width: 26px;
            height: 8px;
        }

        &:hover {
            background: none;
            border: 1px solid rgba(112,112,112,0);
        }

        &:active {
            background: #E3E3E3;
            border: 1px solid rgba(112,112,112,1);
        }
    }
}
