.btn {
    height: 44px;
    padding: 0 26px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $cl-white;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all $time ease;
    background: $cl-blue;
    border-radius: 5px;

    &:hover {
        background: #0E99CF;
        color: $cl-white;
    }

    &:active {

    }

    &_new {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
        min-width: 125px;
        @include media-tablet {
            font-size: 12px;
            padding: 0 15px;
        }
        svg {
            width: 20px;
            height: 20px;
            margin-right: 7px;
        }
        &:active {
            background: #0E99CF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &_send {
        height: 30px;
        border-bottom: 2px solid #0B587E;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
        color: #FFFFFF;
        background: #006699;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;

        &:hover {
            color: #FFFFFF;
            background: #0B587E;
        }

        &:active {
            color: #FFFFFF;
            background: #0B587E;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        @include media-tablet {
            max-width: 164px;
            margin: 0 auto;
        }
    }

    &_more {
        background: #0B587E;
        max-width: 532px;
        display: flex;
        margin: 0 auto;
        height: 31px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
            color: #FFFFFF;
            background: #0B587E;
        }

        &:active {
            color: #FFFFFF;
            background: #0B587E;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    }

    &_blue {
        height: 30px;
        border-bottom: 2px solid #0B587E;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-transform: none;
        color: #FFFFFF;
        background: #006699;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
        padding-top: 2px;

        &:hover {
            color: #FFFFFF;
            background: #0B587E;
        }

        &:active {
            color: #FFFFFF;
            background: #0B587E;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        @include media-tablet {
            max-width: 164px;
            margin: 0 auto;
        }
    }

}
