.form {
    &-subsc {
        max-width: 250px;
        display: block;
    }
    &-radio {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        &+label {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #8F9BB3;
            position: relative;
            padding: 0 0 0 21px;
            margin-bottom: 3px;
            display: block;
            transition: all $time ease;
            user-select: none;

            &:before {
                content: '';
                width: 13px;
                height: 13px;
                background: none;
                border: 1px solid #8F9BB3;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 3px;
            }

            &:after {
                content: '';
                width: 7px;
                height: 7px;
                background: #006699;
                border-radius: 50%;
                position: absolute;
                left: 3px;
                top: 6px;
                opacity: 0;
                transition: all $time ease;
            }
        }
        &:checked + label {
            color: #006699;

            &:after {
                opacity: 1;
            }
        }
    }
    &-check {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        &+label {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #8F9BB3;
            position: relative;
            padding: 0 0 0 21px;
            margin-bottom: 3px;
            display: block;
            transition: all $time ease;
            user-select: none;

            &:before {
                content: '';
                width: 13px;
                height: 13px;
                background: none;
                border: 1px solid #8F9BB3;
                position: absolute;
                left: 0;
                top: 3px;
            }

            &:after {
                content: '';
                width: 9px;
                height: 9px;
                background: #006699;
                position: absolute;
                left: 2px;
                top: 5px;
                opacity: 0;
                transition: all $time ease;
            }
        }
        &:checked + label {
            color: #006699;

            &:after {
                opacity: 1;
            }
        }

        &-1 {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;

            &+label {
                font-weight: normal;
                width: 18px;
                height: 18px;
                color: #8F9BB3;
                position: relative;
                padding: 0;
                margin: 0;
                display: block;
                transition: all $time ease;
                user-select: none;

                &:before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    background: none;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    border-radius: 2px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: all $time ease;
                }

                &:after {
                    content: '';
                    width: 18px;
                    height: 18px;
                    background-image: url(../img/check.svg);
                    background-repeat: no-repeat;
                    background-size: 70% 68%;
                    background-position: 3px center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    transition: all $time ease;
                }
            }

            &:checked + label {
                color: #006699;

                &:before {
                    border: 1px solid #006699;
                }

                &:after {
                    opacity: 1;
                }
            }
        }

        &-2 {
            position: relative;
            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                visibility: hidden;
                &+label {
                    width: 29px;
                    height: 15px;
                    background: #C4C4C4;
                    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 7px;
                    display: block;
                    position: relative;
                    transition: all $time ease;

                    &:before {
                        content: '';
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        top: 1px;
                        left: 1px;
                        position: absolute;
                        background: #393939;
                        transition: all $time ease;
                    }
                }
                &:checked + label {
                    background: #006699;
                    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                    &:before {
                        background: #ffffff;
                        left: 15px;
                    }
                }
            }
        }

        &-3 {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            &+label {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #393939;
                position: relative;
                padding: 0 0 0 21px;
                margin: 0;
                display: block;
                transition: all $time ease;
                user-select: none;

                &:before {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: none;
                    border: 1px solid #006699;
                    box-sizing: border-box;
                    border-radius: 5px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                }

                &:after {
                    content: '';
                    width: 8px;
                    height: 6px;
                    background-image: url(../img/check.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    left: 3px;
                    top: 6px;
                    opacity: 0;
                    transition: all $time ease;
                }
            }
            &:checked + label {
                &:after {
                    opacity: 1;
                }
            }
        }

        &-4 {
            position: relative;
            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                visibility: hidden;

                &+label {
                    width: 45px;
                    height: 24px;
                    background: #E4E8EA;
                    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 12px;
                    display: block;
                    position: relative;
                    transition: all $time ease;

                    &:before {
                        content: '';
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        top: 1px;
                        left: 1px;
                        position: absolute;
                        background: #ffffff;
                        transition: all $time ease;
                    }
                }
                &:checked + label {
                    background: #006699;
                    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                    &:before {
                        background: #ffffff;
                        left: 22px;
                    }
                }
            }
            & + span {
                padding-left: 17px;
            }
        }

        &-5 {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            &+label {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #393939;
                position: relative;
                padding: 8px 0 0 40px;
                margin: 0;
                display: block;
                transition: all $time ease;
                user-select: none;

                &:before {
                    content: '';
                    width: 31px;
                    height: 31px;
                    background: #ffffff;
                    border: 1px solid #E4E8EA;
                    box-sizing: border-box;
                    border-radius: 5px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    transition: all $time ease;
                }

                &:after {
                    content: '';
                    width: 18px;
                    height: 14px;
                    background-image: url(../img/check.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    left: 8px;
                    top: 10px;
                    opacity: 0;
                    transition: all $time ease;
                }
            }
            &:checked + label {
                &:before {
                    border: 1px solid #006699;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }
    &-range {
        display: grid;
        grid-template-columns: 50px 24px 50px;
        align-items: center;
        &>div {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #8F9BB3;
            text-align: center;
            .inp {
                height: 22px;
                line-height: 20px;
                border: 1px solid #8F9BB3;
                padding: 0 7px;
                border-radius: 0;
                &::placeholder {
                    color: #DADCDF;
                }
            }
        }
    }
    &-multSelect {
        position: relative;
        &__title {
            background: $cl-white;
            border-radius: 5px;
            height: 40px;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: center;
            padding: 0 0 0 17px;
            color: #8F9BB3;
            position: relative;
            cursor: pointer;
            user-select: none;
            z-index: 5;
            &:after {
                content: '';
                width: 10px;
                height: 7px;
                position: absolute;
                right: 19px;
                top: 17px;
                background: url(../img/sel.svg) no-repeat;
                background-size: contain;
            }
        }
        &__frame {
            background: $cl-white;
            min-width: 336px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 0 5px 5px 5px;
            z-index: 10;
            display: none;
            @include media-tablet {
                min-width: initial;
            }
        }
        &__search {
            padding: 10px;
            position: relative;
            input {
                height: 35px;
                line-height: 35px;
                background: #F2F1EF;
                border-radius: 5px;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #8F9BB3;
                padding: 0 30px 0 11px;
                border: 0;
                width: 100%;
                display: block;
            }
            svg {
                width: 18px;
                height: 18px;
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -9px;
            }
        }
        &__list {
            padding-bottom: 10px;
            ul {
                li {
                    position: relative;
                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        visibility: hidden;
                        & + label {
                            padding: 8px 10px 8px 54px;
                            line-height: 20px;
                            display: block;
                            font-weight: normal;
                            font-size: 16px;
                            color: #8F9BB3;
                            position: relative;
                            transition: all $time ease;
                            user-select: none;

                            &:before {
                                width: 16px;
                                height: 16px;
                                content: '';
                                border: 1px solid #8F9BB3;
                                position: absolute;
                                left: 12px;
                                top: 9px;
                                background: none;
                                transition: all $time ease;
                            }

                            &:after {
                                opacity: 0;
                                content: '';
                                background: url(../img/ch.svg) no-repeat center;
                                background-size: contain;
                                width: 11px;
                                height: 9px;
                                position: absolute;
                                left: 15px;
                                top: 12px;
                                transition: all $time ease;
                            }
                        }
                        &:checked {
                            &+label {
                                background: rgba(0, 102, 153, 0.06);
                                &:before {
                                    border: 1px solid #006699;
                                }
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            &_v1 {
                ul {
                    li {
                        input {
                            &+label {
                                &:before {
                                    display: none;
                                }
                                &:after {
                                    background: url(../img/ch_green.svg) no-repeat center;
                                }
                            }
                            &:checked {
                                &+label {
                                    background: rgba(68, 195, 141, 0.06);
                                }
                            }
                        }
                    }
                }
            }
        }
        &__sel {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #F2F1EF;
            padding: 5px 12px;
            margin-left: -30px;
            &__item {
                display: flex;
                align-items: center;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #8F9BB3;
                padding: 5px 0;
                margin-left: 30px;
                .del {
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background: #C4C4C4;
                    margin-left: 6px;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 13px;
                    text-align: center;
                    color: #8F9BB3;
                    cursor: pointer;
                }
            }
        }
        &__over {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            display: none;
        }

        &_bord {
            .form-multSelect__title {
                border: 1px solid #C9C9C9;
            }
        }

        &.is-open {
            .form-multSelect__title {
                &:after {
                    transform: rotate(-180deg);
                }
            }
            .form-multSelect__frame {
                display: block;
            }
            .form-multSelect__over {
                display: block;
                z-index: 1;
            }
        }
    }
    &-row {
        &--selUpload {
            display: grid;
            grid-template-columns: 1fr 200px auto;
            grid-column-gap: 30px;
            align-items: center;
            margin-bottom: 75px;

            @include media-tablet {
                grid-template-columns: 1fr;
                grid-row-gap: 5px;
                margin-bottom: 25px;
            }

            .form-upload {
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
            }
        }
        &--csvUpload {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;

            @include media-tablet {
                grid-template-columns: 1fr;
                grid-row-gap: 15px;
            }

            h5 {
                font-family: $fontRoboto;
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
                margin: 0 0 12px 0;
            }
            .form-inp {
                margin-bottom: 12px;
                .inp {
                    max-width: 200px;
                }
            }
            .form-select {
                margin-bottom: 12px;
                max-width: 200px;
                display: block;
                @include media-tablet {
                    max-width: none;
                }
            }
            .form-text {
                margin-bottom: 12px;
                height: 40px;
                display: flex;
                align-items: center;
                label {
                    font-size: 14px;
                    color: #C6C6C6;
                }
            }
        }
        &--2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;

            @include media-tablet {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 5px;
            }
        }
        &--flex {
            display: flex;
            margin-bottom: 12px;
            margin-right: -15px;
            margin-left: -15px;

            @include media-tablet {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 5px;
            }

            .column-item {
                flex-grow: 1;
                align-items: center;
                display: flex;
                padding: 0 15px;

                &:nth-child(1) {
                    flex-basis: 130px;
                    flex-grow: initial;
                }

                &:nth-child(3) {
                    flex-grow: initial;
                }

                &.w200 {
                    flex-grow: initial;
                    flex-basis: 200px;
                }

                &.w250 {
                    flex-grow: initial;
                    flex-basis: 250px;
                }
            }
        }
    }
    &-line {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-column-gap: 30px;
        align-items: center;
        margin-bottom: 15px;

        @include media-tablet {
            grid-template-columns: 1fr;
            grid-row-gap: 5px;
        }

        &--norm {
            grid-template-columns: 100px 1fr;

            @include media-tablet {
                grid-template-columns: 1fr;
                grid-row-gap: 5px;
            }

        }

        .has-text-right {
            @include media-tablet {
                text-align: left !important;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: flex-end;
        padding-top: 15px;
    }
    &-inp {
        &_required {
            position: relative;
            &:before {
                content: '';
                width: 1px;
                height: 30px;
                background: #006699;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
    &-select {
        &--bord {
            .choices {
                .choices__inner {
                    background: #FFFFFF;
                    border: 1px solid #C6C6C6;
                }
                .choices__list--dropdown {
                    border: 1px solid #C6C6C6;
                }
            }
        }
    }
    &-text {
        display: flex;
        min-height: 40px;
        align-items: center;
        font-family: $fontRoboto;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: #C6C6C6;
    }
    &-giftDesign {
        &__row {
            display: grid;
            grid-template-columns: 46% 1fr;
            grid-column-gap: 15px;

            @include media-tablet {
                grid-template-columns: 100%;
                grid-row-gap: 15px;
            }
        }
        &__col {
            display: grid;
            grid-template-columns: 100%;
            grid-row-gap: 10px;
            min-width: 100%;
            .f-info {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 26px;
                color: #B9B9B9;
            }

            .f-date {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                line-height: 19px;
                margin-top: 40px;
                margin-bottom: 20px;

                @include media-sm {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row-gap: 5px;
                    margin-top: 20px;

                }

                @include media-tablet {
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 1.2;
                }

                span {
                    display: flex;
                    align-items: center;
                    fill: none;
                    color: #006699;

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                    }
                }
            }

            .f-check {
                font-size: 16px;

                span {
                    min-width: 350px;
                    line-height: 1.4;
                    @include media-sm {
                        min-width: auto;
                    }
                    @include media-tablet {
                        font-size: 14px;
                    }
                }

                .italic {
                    font-style: italic;
                    color: #C6C6C6;
                }
            }
        }
        &__btn {
            padding-top: 24px;
            display: flex;
            justify-content: flex-end;
        }
        .from-line-title {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            a {
                font-size: 16px;
                line-height: 1.2;
            }
        }
    }
    &-checked {
        display: flex;
        align-items: center;

        span {
            font-size: 16px;
            color: #393939;
            line-height: 1.2;
            margin-right: 10px;
        }
    }
    &-color {
        display: block;
        width: 82px;
        position: relative;

        &__label {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #5C5C5C;
            display: flex;
            align-items: center;
            position: relative;
            user-select: none;

            &__title {
                margin-right: 15px;
            }

            &__select {
                width: 18px;
                height: 18px;
                display: block;
                border-radius: 3px;
            }

            &:after {
                content: '';
                width: 8px;
                height: 6px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                background: url(../img/sel.svg) no-repeat;
                background-size: contain;
            }
        }

        &__list {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-gap: 2px;
                border-top: 1px solid #5C5C5C;
                padding-top: 3px;

                li {
                    position: relative;
                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        visibility: hidden;
                        opacity: 0;

                        &+label {
                            cursor: pointer;

                            span {
                                width: 18px;
                                height: 18px;
                                display: block;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }

        &__bg {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 5;
            display: none;
        }

        &.is-open {
            .form-color__label {
                z-index: 10;
                &:after {
                    transform: translateY(-50%) rotate(0);
                }
            }
            .form-color__list {
                z-index: 10;
                display: block;
            }

            .form-color__bg {
                display: block;
            }
        }
    }
    &-input {
        position: relative;

        &__icon {
            position: absolute;
            left: 1px;
            top: 1px;
            bottom: 1px;
            width: 43px;
            background: #EAEAEA;
            border-radius: 5px 0px 0px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {

            }

            .i {
                &-user {
                    width: 18px;
                    height: 18px;
                }

                &-company {
                    width: 20px;
                    height: 14px;
                }

                &-email {
                    width: 18px;
                    height: 12px;
                }

                &-phone {
                    width: 21px;
                    height: 21px;
                }

                &-locat {
                    width: 18px;
                    height: 18px;
                }

                &-city {
                    width: 15px;
                    height: 16px;
                }

                &-zip {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        label {
            position: absolute;
            left: 56px;
            top: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #C6C6C6;
            transition: all .2s ease;

            span {
                color: #E34646;
                margin-left: 6px;
            }
        }

        .inp {
            border: 1px solid #C6C6C6;
            height: 40px;
            transition: all $time ease;
            font-size: 14px;
            line-height: 20px;
            color: #006699;
            padding: 10px 0 0 56px;

            &:focus {
                border: 1px solid #006699;

                &+label {
                    font-size: 8px;
                    top: 0;
                }
            }

            &.length {
                &+label {
                    font-size: 8px;
                    top: 0;
                }
            }
        }

    }
    &-listCheck {
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        border-radius: 4px;
        overflow: hidden;

        &__scroll {
            height: 295px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        &__list {

        }

        &__item {
            position: relative;
            border-bottom: 1px solid #EDEDED;

            &:last-child {
                border-bottom: 0;
            }

            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                visibility: hidden;

                & + label {
                    display: flex;
                    height: 39px;
                    transition: all $time ease;
                    align-items: center;
                    font-size: 12px;
                    line-height: 18px;
                    color: #CBCBCB;
                    padding: 12px 24px;
                    cursor: pointer;

                    .bx {
                        &-name {
                            color: #393939;
                            white-space: nowrap;
                            padding-right: 16px;
                        }

                        &-desc {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: none;
                        }

                        &-status {
                            white-space: nowrap;
                            padding-left: 16px;
                            display: none;
                        }
                    }

                    &:hover {
                        background: #EBF3F7;
                        .bx {
                            &-name {
                                color: #006699;
                            }
                        }
                    }
                }

                &:checked + label {
                    .bx {
                        &-name {
                            color: #8E8E93;
                        }

                        &-desc {
                            display: block;
                        }

                        &-status {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &-addPerson {
        &__row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 65px;

            @include media-sm {
                grid-column-gap: 30px;
            }

            @include media-tablet {
                grid-template-columns: 1fr;
                grid-row-gap: 15px;
                grid-template-areas:
                    'i2'
                    'i1';

                .form-giftDesign__col {
                    &:nth-child(1) {
                        grid-area: i1;
                    }
                    &:nth-child(2) {
                        grid-area: i2;
                    }
                }

            }

            .form-giftDesign__col {
                &:nth-child(2) {
                    display: block;
                }
            }

            .form-giftDesign {
                &__col {
                    align-items: flex-start;
                }
            }
        }
    }
}

select {
    width: 100%;
}

.select2 {
    &-container {
        display: block;
        &--default {
            .select2-selection {
                &--single {
                    border-radius: 0;
                    border: 1px solid rgba(91, 109, 123, 0.2);
                    background: #FFFFFF;
                    height: 46px;
                    outline: none;
                    .select2-selection {
                        &__rendered {
                            line-height: 44px;
                            font-size: 14px;
                            padding-left: 15px;
                            padding-right: 40px;
                            font-weight: 500;
                            font-size: 14px;
                            color: $cl-black;
                            @include media-sm {
                                padding-right: 30px;
                            }
                        }
                        &__arrow {
                            height: 44px;
                            width: 31px;
                            @include media-sm {
                                width: 24px;
                            }
                            b {
                                width: 11px;
                                height: 6px;
                                left: 0;
                                top: 50%;
                                margin: -3px 0 0 0;
                                background: url(../img/arw-sel.svg) no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
    }
    &-dropdown {
        border: 1px solid rgba(91, 109, 123, 0.7);
        background: #FFFFFF;
        border-radius: 0;
    }
    &-results {
        &__options {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: $cl-black;
        }
    }
}

label {
    font-family: $fontRoboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #C6C6C6;

    @include media-tablet {
        font-size: 16px;
    }
}

.label {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #393939;

    @include media-tablet {
        font-size: 14px;
    }
}

.inp {
    height: 40px;
    border: 0;
    line-height: 40px;
    padding: 0 17px;
    font-family: $fontRoboto;
    font-size: 14px;
    font-weight: 300;
    background: $cl-white;
    border-radius: 5px;
    width: 100%;
    display: block;
    color: #8F9BB3;

    &::placeholder {
        color: #8F9BB3;
    }

    &_subsc {
        padding: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        height: 38px;
        line-height: 37px;
        width: 100%;
        display: block;
        letter-spacing: 0.4px;
        margin-bottom: 17px;
    }

    &-date {
        background-color: $cl-white;
        background-image: url(../img/date.svg);
        background-position: 12px 11px;
        background-repeat: no-repeat;
        padding-left: 41px;
    }

    &_bord {
        background: #FFFFFF;
        border: 1px solid #C6C6C6;
        border-radius: 5px;
        padding: 0 11px;
        height: 40px;
        line-height: 38px;
        color: #393939;
        font-weight: normal;
        font-size: 14px;

        &::placeholder {
            color: #C6C6C6;
        }

        &[required="required"] {
            border-left: 1px solid #006699;
        }

        &.is-error {
            border-left: 1px solid #F05A50;
        }

        &.is-success {
            border-left: 1px solid #44C38D;
        }
    }

    &_block {
        width: 100%;
        display: block;
    }

    &_bord-bm {
        background: #FFFFFF;
        border-bottom: 1px solid #C6C6C6;
        height: 28px;
        line-height: 25px;
        padding: 0;
        border-radius: 0;
        font-size: 14px;
        color: #393939;

        &::placeholder {
            color: #C6C6C6;
        }
    }

    &_readonly {
        border: 1px solid #fff;
    }

    &-text {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 0;
        padding: 0 11px;
        height: 40px;
        line-height: 40px;
        color: #C6C6C6;
        font-weight: normal;
        font-size: 14px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}

.area {
    font-family: $fontRoboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    color: #393939;
    padding: 10px 17px;

    &_block {
        width: 100%;
        display: block;
        resize: none;
    }
    &_h370 {
        height: 370px;

        @include media-tablet {
            height: 100px;
        }
    }
    &_h294 {
        height: 294px;

        @include media-tablet {
            height: 100px;
        }
    }
    &_h194 {
        height: 194px;

        @include media-tablet {
            height: 100px;
        }
    }
}

.select {
    &-bord {
        .choices {
            .choices {
                &__inner {
                    height: 26px;
                    line-height: 25px;
                    min-height: initial;
                    border: 1px solid #ffffff;
                    border-bottom: 1px solid #c6c6c6;
                    border-radius: 0;
                    color: #393939;

                    @include media-tablet {
                        padding-left: 0 !important;
                    }

                    &:after {
                        right: 10px;
                        top: 10px;
                    }

                    .choices__list {
                        &--single {
                            padding: 0;
                        }
                    }
                }
                &__list {
                    &--dropdown {
                        .choices__item {
                            font-weight: normal;
                            font-size: 14px;
                            color: #393939;
                            padding: 0 13px;
                        }
                    }
                }
            }
            &.is-open {
                .choices {
                    &__inner {
                        border-top: 1px solid #c6c6c6;
                        border-left: 1px solid #c6c6c6;
                        border-right: 1px solid #c6c6c6;
                        border-radius: 0;
                    }
                    &__list--dropdown {
                        border-bottom: 1px solid #c6c6c6;
                        border-left: 1px solid #c6c6c6;
                        border-right: 1px solid #c6c6c6;
                        border-radius: 0;
                    }
                }
            }
        }
    }
    &-radius-no {
        border-radius: 0;
        .choices .choices__inner,
        .choices .choices__list--dropdown {
            border-radius: 0 !important;
        }
    }

    &-border {
        .choices {
            .choices {
                &__inner {
                    border: 1px solid #8F9BB3;
                }
                &__list--dropdown {
                    border: 1px solid #8F9BB3;
                    border-top: 0;
                }
            }
        }
    }
}

.qs-datepicker-container {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 5px;
    border: 0;
    font-family: $fontRoboto;
    font-size: 14px;
    .qs-controls {
        background: rgba(0, 102, 153, 0.15);
        padding: 0 5px;
        .qs-month-year {
            padding: 10px 0;
            border: 0 !important;
        }
    }
    .qs-square {
        transition: all $time ease;
    }
    .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
        background: #00b7ff;
        color: #ffffff;
    }
}

.choices {
    z-index: 6;
    position: relative;
    overflow: hidden;
    &.is-open {
        overflow: visible;
    }
    .choices__inner {
        background: #FFFFFF;
        border-radius: 5px;
        border: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #8F9BB3;
        padding: 0 0 0 13px !important;
        min-height: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        &:after {
            content: '';
            width: 10px;
            height: 7px;
            position: absolute;
            right: 19px;
            top: 17px;
            background: url(../img/sel.svg) no-repeat;
            background-size: contain;
        }
    }

    &.is-open {
        .choices__inner {
            border-radius: 5px 5px 0 0;
        }
    }

    .choices__list--dropdown {
        background: $cl-white;
        border: 0;
        border-radius: 0 0 5px 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 32px;
        color: #8F9BB3;
        overflow: hidden;
    }

    .choices__list--dropdown .choices__item {
        padding: 0 17px;
        font-size: 14px;
        line-height: 32px;
        color: #8F9BB3;
    }

    .choices__list--dropdown .choices__item--selectable {
        padding-right: 0 !important;
    }

    .choices__list--dropdown {
        max-height: 250px;
        overflow-y: auto;
    }

    .choices__list--dropdown .choices__list {
        max-height: none;
        overflow: visible;
    }

    .choices__list--dropdown .choices__item.choices__placeholder {
        display: none;
    }
    .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list--dropdown .choices__item--selectable.is-selected{
        background: #F2F7FA;
    }

    &[data-type*=select-one]:after {
        display: none;
    }
    &[data-type*=select-one] .choices__input {
        border: 10px solid #ffffff;
        background-color: #F2F1EF;
        border-radius: 15px;
        margin: 0;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-size: 18px;
        background-position:  95% center;
        padding: 0 30px 0 10px;
        height: 55px;
    }
}

.js-choiceTag {
    .choices__input {
        background: none;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #8F9BB3;
        &::placeholder {
            color: #8F9BB3;
        }
    }
    .choices__list--multiple {
        padding-top: 4px;
    }
    .choices__list--multiple .choices__item {
        background: #006699;
        border: 1px solid #006699;
    }
    .choices .choices__inner {
        padding-right: 40px !important;
        height: auto;
    }

}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    background-repeat: no-repeat;
    background-position: center;
}

.choices.is-open {
    position: relative;
    z-index: 10;
}

.ql-editor {
    height: 80px;
}

.vs {
    &__search {
        font-family: $fontRoboto;
        font-size: 14px;
        font-weight: 400;
        color: #8f9bb3;
        &::placeholder {
            color: #8f9bb3;
        }
        &:focus {
            font-family: $fontRoboto;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__selected {
        font-family: $fontRoboto;
        font-size: 14px;
        font-weight: 400;
        color: #8f9bb3;
    }
    &__selected-options {
        padding-left: 9px;
    }
    &__dropdown-toggle {
        height: 40px;
        border: 0;
        background: #ffffff;
        border-radius: 5px;
    }
    &__dropdown-menu {
        box-shadow: none;
        border: 0;
        max-height: 200px;
        min-width: 100px;
        &[data-simplebar="init"] {
            overflow-y: visible;
        }
    }
    &__dropdown-option {
        font-family: $fontRoboto;
        font-weight: 400;
        padding: 0 17px;
        font-size: 14px;
        line-height: 32px;
        color: #8f9bb3;
        &:hover {
            background: #f2f7fa;
        }
    }
    &__dropdown-option--highlight {
        background: #f2f7fa;
    }
    &__actions {
        padding-right: 16px;
    }
    &__open-indicator {
        width: 10px;
        height: 7px;
        background: url(../img/sel.svg) no-repeat;
        background-size: contain;
    }
    &__clear {
        width: 14px;
        height: 14px;
        background: url(../img/clear.svg) no-repeat center;
        background-size: contain;
    }
    &--disabled {
        .vs__dropdown-toggle,
        .vs__search {
            background: #ffffff;
        }
    }
}


.style-bord {
    .vs {
        &__dropdown-toggle {
            border: 1px solid #c9c9c9;
            height: auto;
            min-height: 40px;
        }

        &__dropdown-menu {
            border: 1px solid #c9c9c9;
            border-top: 0;
        }

        &__dropdown-option {
            padding-left: 50px;
        }

        &__dropdown-option--selected {
            background: rgba(68,195,141,.06);
            position: relative;
            &:after {
                opacity: 1;
                content: '';
                background: url(../img/ch_green.svg) no-repeat center;
                background-size: contain;
                width: 11px;
                height: 9px;
                position: absolute;
                left: 15px;
                top: 50%;
                margin-top: -4px;
                transition: all .3s ease;
            }
        }


    }
}

.style-bord-sm {
    .vs {
        &__dropdown-toggle {
            border: 1px solid #ffffff;
            border-bottom: 1px solid #c9c9c9;
            height: auto;
            min-height: 26px;
            border-radius: 0;
        }

        &__dropdown-menu {
            border: 1px solid #c9c9c9;
            border-top: 0;
        }

        &__dropdown-option {

        }

        &__dropdown-menu {
            border-radius: 0;
        }

        &__dropdown-option--selected {
            position: relative;
        }

        &--open {
            .vs {
                &__dropdown-toggle {
                    border: 1px solid #c9c9c9;
                    border-bottom: 0;
                }
            }
        }
    }

    &.vs--open .vs__dropdown-toggle {
        border: 1px solid #c9c9c9 !important;
        border-bottom: 1px solid #ffffff !important;
    }
}

.style-norad {
    .vs {
        &__dropdown-toggle {
            border-radius: 0;
        }
        &__dropdown-menu {
            border-radius: 0;
        }
    }
}

.style-border {
    .vs {
        &__dropdown-toggle {
            border: 1px solid #8f9bb3;
        }
        &__dropdown-menu {
            border: 1px solid #8f9bb3;
            border-top: 0;
        }
    }
}

.style-border-grey {
    .vs {
        &__dropdown-toggle {
            border: 1px solid #c6c6c6;
        }
        &__dropdown-menu {
            border: 1px solid #c6c6c6;
            border-top: 0;
        }
    }
}
