.simplebar-track {

    &.simplebar-vertical {
        width: 4px;
    }

    .simplebar-scrollbar:before {
        opacity: 1;
        background: #BAC0CC;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

}

