$mediaXl: 1366px;
$mediaLg: 1199px;
$mediaSm: 991px;
$mediaTablet: 767px;
$mediaMobile: 479px;

$fontRoboto: 'Roboto', Arial, Helvetica, sans-serif;
$fontInter: 'Inter', sans-serif;

$cl-white: #fff;
$cl-black: #393939;
$cl-blue-dark: #005577;
$cl-blue: #00B7FF;


$time: .3s;

