.b-pages
    ul
        li.prev: a(href="#")
            +svg("arw-prev")
        li: a(href="#"): span 1
        li: a(href="#"): span 2
        li: a(href="#"): span 3
        li.sep
        li: a(href="#"): span 38
        li: a(href="#"): span 39
        li: a(href="#"): span 40
        li.next: a(href="#")
            +svg("arw-next")

