.owl-carousel.b-productList__carousel
    .b-productCard
        .b-productCard__image
            a(href="#"): img(class="owl-lazy" src="img/blank.png" data-src="img/product-1.jpg" alt="")
        .b-productCard__desc
            h5: a(href="#") Костюм утеплённый ГРОСС
            p Артикул 353212
        .b-productCard__price
            p 142 РУБ
            a.btn_addCart(href="#")
                +svg("plus")

    .b-productCard
        .b-productCard__image
            a(href="#"): img(class="owl-lazy" src="img/blank.png" data-src="img/product-2.jpg" alt="")
        .b-productCard__desc
            h5: a(href="#") Костюм утеплённый ГРОСС
            p Артикул 353212
        .b-productCard__price
            p 142 РУБ
                span 165 РУБ
            a.btn_favorites(href="#")
                span
                    +svg("icon-favourites")
                    +svg("icon-favourites-hover")

            a.btn_addCart(href="#")
                +svg("plus")


    .b-productCard
        .b-productCard__image
            a(href="#"): img(class="owl-lazy" src="img/blank.png" data-src="img/product-1.jpg" alt="")
        .b-productCard__desc
            h5: a(href="#") Костюм утеплённый ГРОСС
            p Артикул 353212
        .b-productCard__price
            p 142 РУБ
            a.btn_addCart(href="#")
                +svg("plus")
        .b-productCard__status.el-status
            .el-status__item.el-status__item_new
                span NEW
            .el-status__item.el-status__item_hit
                span ХИТ

    .b-productCard
        .b-productCard__image
            a(href="#"): img(class="owl-lazy" src="img/blank.png" data-src="img/product-3.jpg" alt="")
        .b-productCard__desc
            h5: a(href="#") Костюм утеплённый ГРОСС
            p Артикул 353212
        .b-productCard__price
            p 142 РУБ
            a.btn_addCart(href="#")
                +svg("plus")

    .b-productCard
        .b-productCard__image
            a(href="#"): img(class="owl-lazy" src="img/blank.png" data-src="img/product-1.jpg" alt="")
        .b-productCard__desc
            h5: a(href="#") Костюм утеплённый ГРОСС
            p Артикул 353212
        .b-productCard__price
            p 142 РУБ
            a.btn_addCart(href="#")
                +svg("plus")