nav.s-navBar
    .container
        .menu
            ul
                li.is-active
                    a(href="#") Dashboard
                li
                    a(href="#") Sendas
                li
                    a(href="#") Marketplace
                li
                    a(href="#") Contacts
                li
                    a(href="#") Reports
        .support
            a(href="")
                +svg("support")
                span Support
        .setup
            a(href="")
                +svg("setup")
                span Setup