nav.s-navBar
    .container
        .burger
            span
            span
            span
            span
        .s-navBar__frame
            .menu
                ul
                    li.is-active
                        a(href="#") Dashboard
                    li
                        a(href="#") Sendas
                    li
                        a(href="#") Marketplace
                    li
                        a(href="#") Contacts
                    li
                        a(href="#") Reports
            .support
                a(href="")
                    +svg("support")
                    span Support
            .setup
                a(href="")
                    +svg("setup")
                    span Setup
                .setup__nav
                    ul
                        li
                            a(href="#") Users & Teams
                        li
                            a(href="#") Branding
                        li
                            a(href="#") Message Templates
                        li
                            a(href="#")
                                +svg("exit")
                                span Exit
