.user
    .user__image
        a(href="#")
            img(src="img/user.jpg" alt="")
    .user__info
        .user__info__name
            a(href="#") Eric Brain
        .user__info__status Manager user
        .user__info__reit
            +svg("reit")
            span 867
