.column
    h4 Покупателям
    ul
        li: a(href="#") Каталог
        li: a(href="#") Доставка и оплата
        li: a(href="#") Обмен и возврат
        li: a(href="#") Оформление заказа
        li: a(href="#") Оставить отзыв
        li: a(href="#") Политика конфиденцильности
        li: a(href="#") Договор оферты