.column
    h4 Подписаться на новости
    p Новостная рассылка и специальные предложения
    form.form-subsc
        input(class="inp inp_subsc" placeholder="Ваш E-mail")
        button.btn.btn_white Подписаться