.column
    h4 Связаться с нами
    p: a(href="tel:+79688808058") +7 (968) 880-80-58
    p
        | 620000, гор. Москва,
        br
        | ул. Саринский проезд,
        br
        | дом 2, офис 620
    p: a(href="mailto:tatyana.brontsalova@ya.ru") tatyana.brontsalova@ya.ru

    .social
        h4 МЫ в соцсетях
        ul
            li
                a(href="#")
                    +svg("facebook").icon-facebook
            li
                a(href="#")
                    +svg("instagram").icon-instagram
            li
                a(href="#")
                    +svg("youtube").icon-youtube