.b-pageBar
    .b-pageBar__btn
    ul
        li: a(href="index_1.html") Sendas
        li: a(href="bulk.html") Bulk
        li: a(href="dashboard.html") Dashboard
        li: a(href="marketplace.html") Marketplace
        li: a(href="product.html") Product
        li: a(href="profile.html") Profile
        li: a(href="recipients.html") Recipients
        li: a(href="popup.html") Popup
        li: a(href="step-1.html") Step 1 (Recipients)
        li: a(href="step-2.html") Step 2 (Choose Gifts)
        li: a(href="step-3.html") Step 3 (Messages)
        li: a(href="step-4.html") Step 4 (Review)
        li: a(href="billing.html") Billing & Plans
        li: a(href="ui-kit.html") UI Kit
        li: a(href="frame.html") Frame
        li: a(href="branding.html") Branding
        li: a(href="single-step-1.html") Single Step 1
        li: a(href="card.html") Card
