.b-chooseGift
    .b-chooseGift__select
        div (0) Selected
        div.b-chooseGift__select__hide
            div
                .el-setAll
                    a.link-blue.el-setAll__link(href="javascript:void(0)") Quantity
                    .el-setAll__frame
                        .el-setAll__row
                            input.el-setAll__inp(type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57")
                            button.btn.btn_blue.el-setAll__btn Set For All
                    .el-setAll__bg(data-type="bg")
            div
                .el-date.el-date-p
                    span.link-date-bt Delivery date
                    +svg("calendar")
    .b-chooseGift__header
        .b-chooseGift__header__col
            input#cht1.form-check-1(type="checkbox")
            label(for="cht1")
        .b-chooseGift__header__col Name
        .b-chooseGift__header__col Gift name
        .b-chooseGift__header__col Photo
        .b-chooseGift__header__col Cost
        .b-chooseGift__header__col
            .el-setAll
                a.link-blue.el-setAll__link(href="javascript:void(0)") Quantity
                .el-setAll__frame
                    .el-setAll__row
                        input.el-setAll__inp(type="text" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57")
                        button.btn.btn_blue.el-setAll__btn Set For All
                .el-setAll__bg(data-type="bg")
        .b-chooseGift__header__col Sum
        .b-chooseGift__header__col
            .el-date.el-date-p

                .el-date-icon
                    v-date-picker(class="inline-block h-full" v-model="date")
                        template(v-slot="{togglePopover}")
                            div.flex(@click="togglePopover({ placement: 'auto-start' })")
                                span.link-blue Delivery date
                                +svg("calendar")

    .b-chooseGift__frame(data-simplebar)
        .b-chooseGift__row
            .b-chooseGift__title.is-open
                .b-chooseGift__title__col(data-type="col")
                    input#cht2.form-check-1(type="checkbox")
                    label(for="cht2")
                .b-chooseGift__title__col(data-type="col")
                    strong USA (23)
                .b-chooseGift__title__col(data-type="col")
                    a.link-blue(href="#") Choose
                .b-chooseGift__title__col(data-type="col")
                    .el-arw
                        +svg("arw-1")
            .b-chooseGift__list.is-open
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht21.form-check-1(type="checkbox")
                        label(for="cht21")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        button-counter
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        .el-date
                            | 22/03/2020
                            .el-date-icon
                                v-date-picker(class="inline-block h-full" v-model="date")
                                    template(v-slot="{togglePopover}")
                                        +svg("calendar")(@click="togglePopover({ placement: 'auto-start' })")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht22.form-check-1(type="checkbox")
                        label(for="cht22")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        button-counter
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        .el-date
                            | 22/03/2020
                            .el-date-icon
                                v-date-picker(class="inline-block h-full" v-model="date")
                                    template(v-slot="{togglePopover}")
                                        +svg("calendar")(@click="togglePopover({ placement: 'auto-start' })")
                //.b-chooseGift__list__row
                //    .b-chooseGift__list__col
                //        input#cht23.form-check-1(type="checkbox")
                //        label(for="cht23")
                //    .b-chooseGift__list__col
                //        | Ivanov Andrei Kirillovish
                //        br
                //        | Russia
                //    .b-chooseGift__list__col
                //        a.link-blue(href="#") Choose
                //.b-chooseGift__list__row
                //    .b-chooseGift__list__col
                //        input#cht24.form-check-1(type="checkbox")
                //        label(for="cht24")
                //    .b-chooseGift__list__col
                //        | Ivanov Andrei Kirillovish
                //        br
                //        | Russia
                //    .b-chooseGift__list__col
                //        | Ivanov Andrei Kirillovish
                //        br
                //        | Russia
                //    .b-chooseGift__list__col
                //        img(src="img/img-2.jpg" alt="")
                //    .b-chooseGift__list__col $100,000
                //    .b-chooseGift__list__col
                //        button-counter
                //    .b-chooseGift__list__col $100,000
                //    .b-chooseGift__list__col
                //        .el-date
                //            | 22/03/2020
                //            .el-date-icon
                //                v-date-picker(class="inline-block h-full" v-model="date")
                //                    template(v-slot="{togglePopover}")
                //                        +svg("calendar")(@click="togglePopover({ placement: 'auto-start' })")
        .b-chooseGift__row
            .b-chooseGift__title
                .b-chooseGift__title__col(data-type="col")
                    input#cht3.form-check-1(type="checkbox")
                    label(for="cht3")
                .b-chooseGift__title__col(data-type="col")
                    strong France (23)
                .b-chooseGift__title__col(data-type="col")
                    a.link-blue(href="#") Choose
                .b-chooseGift__title__col(data-type="col")
                    .el-arw
                        +svg("arw-1")

            .b-chooseGift__list
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht31.form-check-1(type="checkbox")
                        label(for="cht31")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        button-counter
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        .el-date
                            | 22/03/2020
                            .el-date-icon
                                v-date-picker(class="inline-block h-full" v-model="date")
                                    template(v-slot="{togglePopover}")
                                        +svg("calendar")(@click="togglePopover({ placement: 'auto-start' })")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht32.form-check-1(type="checkbox")
                        label(for="cht32")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        button-counter
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        .el-date
                            | 22/03/2020
                            .el-date-icon
                                v-date-picker(class="inline-block h-full" v-model="date")
                                    template(v-slot="{togglePopover}")
                                        +svg("calendar")(@click="togglePopover({ placement: 'auto-start' })")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht33.form-check-1(type="checkbox")
                        label(for="cht33")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        a.link-blue(href="#") Choose
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht34.form-check-1(type="checkbox")
                        label(for="cht34")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        button-counter
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col
                        .el-date
                            | 22/03/2020
                            .el-date-icon
                                v-date-picker(class="inline-block h-full" v-model="date")
                                    template(v-slot="{togglePopover}")
                                        +svg("calendar")(@click="togglePopover({ placement: 'auto-start' })")
