.b-chooseGift.b-chooseGift_review
    .b-chooseGift__select (0) Selected
    .b-chooseGift__header
        .b-chooseGift__header__col
            input#cht1.form-check-1(type="checkbox")
            label(for="cht1")
        .b-chooseGift__header__col Name
        .b-chooseGift__header__col Gift name
        .b-chooseGift__header__col Photo
        .b-chooseGift__header__col Cost
        .b-chooseGift__header__col Qty
        .b-chooseGift__header__col Sum
        .b-chooseGift__header__col Delivery date
        .b-chooseGift__header__col Greeting card

    .b-chooseGift__frame(data-simplebar)
        .b-chooseGift__row
            .b-chooseGift__title.is-open
                .b-chooseGift__title__col(data-type="col")
                    input#cht2.form-check-1(type="checkbox")
                    label(for="cht2")
                .b-chooseGift__title__col(data-type="col")
                    strong USA (23)
                .b-chooseGift__title__col(data-type="col")
                    a.link-blue(href="#") Choose
                .b-chooseGift__title__col(data-type="col")
                    .el-arw
                        +svg("arw-1")

            .b-chooseGift__list
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht21.form-check-1(type="checkbox")
                        label(for="cht21")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 2
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 22/03/2020
                    .b-chooseGift__list__col
                        a.link-blue(href="#") view card
                        .el-linkBar
                            a(href="#")
                                +svg("el-1")
                            a(href="#")
                                +svg("el-2")
                            a(href="#")
                                +svg("el-3")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht22.form-check-1(type="checkbox")
                        label(for="cht22")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 2
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 22/03/2020
                    .b-chooseGift__list__col
                        a.link-blue(href="#") view card
                        .el-linkBar
                            a(href="#")
                                +svg("el-1")
                            a(href="#")
                                +svg("el-2")
                            a(href="#")
                                +svg("el-3")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht23.form-check-1(type="checkbox")
                        label(for="cht23")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        a.link-blue(href="#") Choose
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht24.form-check-1(type="checkbox")
                        label(for="cht24")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 2
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 22/03/2020
                    .b-chooseGift__list__col
                        a.link-blue(href="#") view card
                        .el-linkBar
                            a(href="#")
                                +svg("el-1")
                            a(href="#")
                                +svg("el-2")
                            a(href="#")
                                +svg("el-3")
        .b-chooseGift__row
            .b-chooseGift__title
                .b-chooseGift__title__col(data-type="col")
                    input#cht3.form-check-1(type="checkbox")
                    label(for="cht3")
                .b-chooseGift__title__col(data-type="col")
                    strong France (23)
                .b-chooseGift__title__col(data-type="col")
                    a.link-blue(href="#") Choose
                .b-chooseGift__title__col(data-type="col")
                    .el-arw
                        +svg("arw-1")

            .b-chooseGift__list
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht31.form-check-1(type="checkbox")
                        label(for="cht31")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 2
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 22/03/2020
                    .b-chooseGift__list__col
                        a.link-blue(href="#") view card
                        .el-linkBar
                            a(href="#")
                                +svg("el-1")
                            a(href="#")
                                +svg("el-2")
                            a(href="#")
                                +svg("el-3")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht32.form-check-1(type="checkbox")
                        label(for="cht32")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 2
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 22/03/2020
                    .b-chooseGift__list__col
                        a.link-blue(href="#") view card
                        .el-linkBar
                            a(href="#")
                                +svg("el-1")
                            a(href="#")
                                +svg("el-2")
                            a(href="#")
                                +svg("el-3")
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht33.form-check-1(type="checkbox")
                        label(for="cht33")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        a.link-blue(href="#") Choose
                .b-chooseGift__list__row
                    .b-chooseGift__list__col
                        input#cht34.form-check-1(type="checkbox")
                        label(for="cht34")
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        | Ivanov Andrei Kirillovish
                        br
                        | Russia
                    .b-chooseGift__list__col
                        img(src="img/img-2.jpg" alt="")
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 2
                    .b-chooseGift__list__col $100,000
                    .b-chooseGift__list__col 22/03/2020
                    .b-chooseGift__list__col
                        a.link-blue(href="#") view card
                        .el-linkBar
                            a(href="#")
                                +svg("el-1")
                            a(href="#")
                                +svg("el-2")
                            a(href="#")
                                +svg("el-3")
