.b-table.b-table_tb4
    table
        tr
            th Order
            th Cost
            th Quantity
            th Subtotal
            th Shipping
            th Tax
            th Total
        tr
            td CALIFORNIA CABERNET GIFT BASKET
            td 33.33 $
            td 2
            td 33.33 $
            td 33.33 $
            td 0 $
            td 66.66 $
        tr
            td CALIFORNIA CABERNET GIFT BASKET
            td 33.33 $
            td 2
            td 33.33 $
            td 33.33 $
            td 0 $
            td 66.66 $
    .b-table_tb4__total
        .b-table_tb4__total__list
            p Total gifts: 30 $
            p Total gifts cost:  40 $
            p Total delivery:  10 $
        .b-table_tb4__total__itog
            p Grand total: 80 $
