.b-catalogCard-nav
    .b-catalogCard-nav__item
        a.b-catalogCard-nav__link(href="#")
            img(src="img/catalogItem-1.jpg" alt="")
            .b-catalogCard-nav__desc
                h4 Спецодежда
                p 2 253 моделей
        .b-catalogCard-nav__menu
            ul.b-catalogCard-nav__menu-parent
                li: a(href="#") Защита от общих производственных загрязнений одежда для работников сферы обслуживания
                li: a(href="#") Сигнальная одежда
                li
                    a(href="#")
                        | Защита от влаги
                    ul.b-catalogCard-nav__menu-child
                        li: a(href="#") Спецодежда летняя
                        li: a(href="#") Костюмы противоэнцефалитные
                        li: a(href="#") Одежда из флиса
                        li: a(href="#") Белье нательное, футболки, рубашки

                li: a(href="#") Одежда со специальными защитными свойствами головные уборы
                li: a(href="#") Защита от пониженных температур
                li: a(href="#") Защита от термических рисков электрической дуги
                li: a(href="#")
                        | Защита от электрических полей и наведенного напряжения одежда ограниченного срока
                        | использования

    .b-catalogCard-nav__item
        a.b-catalogCard-nav__link(href="#")
            img(src="img/catalogItem-2.jpg" alt="")
            .b-catalogCard-nav__desc
                h4 Спецобувь
                p 2 253 моделей
    .b-catalogCard-nav__item
        a.b-catalogCard-nav__link(href="#")
            img(src="img/catalogItem-3.jpg" alt="")
            .b-catalogCard-nav__desc
                h4 Средства защиты
                p 2 253 моделей
    .b-catalogCard-nav__item
        a.b-catalogCard-nav__link(href="#")
            img(src="img/catalogItem-1.jpg" alt="")
            .b-catalogCard-nav__desc
                h4 Прочее
                p 2 253 моделей
    .b-catalogCard-nav__item
        a.b-catalogCard-nav__link(href="#")
            img(src="img/catalogItem-1.jpg" alt="")
            .b-catalogCard-nav__desc
                h4 Новинки
                p 2 253 моделей
    .b-catalogCard-nav__item
        a.b-catalogCard-nav__link(href="#")
            img(src="img/catalogItem-1.jpg" alt="")
            .b-catalogCard-nav__desc
                h4 Скидки
                p 2 253 моделей